/* urlbar panel */

panel#scrollupfolderUrlsPanel {
    border: none;
}
listbox#scrollupfolderUrlsListbox {
    -mox-box-flex: 1;
    margin: 0px;
}
listbox#scrollupfolderUrlsListbox listitem[selected=true] {
    font-weight: bold;
}
